In [1]:
# Lab 1 Day 2
import pandas as pd
import numpy as np
file1_df = pd.read_csv('file1.csv')
file2_df = pd.read_csv('file2.csv')
file3_df = pd.read_csv('file3.csv')

In [2]:
file1_df.shape

(4008, 11)

In [3]:
file2_df.shape

(996, 11)

In [4]:
file3_df.shape

(7070, 11)

In [14]:
file2_df = file2_df.rename(columns={'ST':'State','GENDER':'Gender'})

In [18]:
file1_df = file1_df.rename(columns={'ST':'State','GENDER':'Gender'})

In [24]:
display(file3_df.columns)

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [25]:
display(file1_df.columns)

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [26]:
display(file2_df.columns)

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [22]:
file1_df = file1_df[['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender','Income', 'Monthly Premium Auto', 'Number of Open Complaints','Policy Type', 'Total Claim Amount', 'Vehicle Class']]

In [23]:
file2_df = file2_df[['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender','Income', 'Monthly Premium Auto', 'Number of Open Complaints','Policy Type', 'Total Claim Amount', 'Vehicle Class']]

In [27]:
file_m = pd.concat([file1_df, file2_df, file3_df], axis=0)

In [30]:
file_m.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [38]:
display(file_m)

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.98798,Bachelor,M,71941.0,73.0,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604.0,79.0,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0.0,85.0,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941.0,96.0,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0.0,77.0,0,Corporate Auto,369.600000,Two-Door Car